<template>
  <div class="container">
    <div class="check-container" v-show="!loading">
      <img src="@/assets/icons/check-green.svg" width="54px" height="41px" />
    </div>
    <div class="check-container" v-show="loading">
      <img
        src="@/assets/icons/loading-spinner-yellow.svg"
        width="80px"
        height="80px"
      />
    </div>
    <p class="success-text">Successfully verified!</p>
  </div>
</template>

<script>
export default {
  components: {},
  data() {
    return {
      loading: true,
    };
  },
  mounted() {
    this.$emit("stepChanged", 3);
    setTimeout(() => {
      this.loading = false;
    }, 3000);
  },
};
</script>

<style lang="scss" scoped>
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.success-text {
  font-weight: 500;
  font-size: 34px;
  line-height: 130%;
  text-align: center;
  color: #414141;
  margin-top: 48px;
}
.check-container {
  width: 120px;
  height: 120px;
  background: #ffffff;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>