<template>
  <div class="home">
    <router-link to="/">
      <img src="@/assets/icons/main-logo.svg" class="main-logo"
    /></router-link>
    <p class="full-name">Test ad soyad</p>
    <p class="birth-date">Doğum tarixi: dd.mm.yyyy</p>
    <div class="document-steps-container">
      <div class="tabSteps">
        <div
          v-for="(step, index) in steps"
          :key="index"
          class="step"
          :class="{
            active: currentStep == index,
            completed: currentStep > index,
          }"
        >
          <div class="dot"></div>
          <div class="dot white-dot"></div>
          <div class="dot white-check">
            <img src="@/assets/icons/check.svg" width="12px" height="16px" />
          </div>
          <p class="step-name">{{ index + 1 }}. {{ step }}</p>
        </div>
      </div>
    </div>
    <router-view @stepChanged="changeStep" />
  </div>
</template>

<script lang="ts">
export default {
  components: {},
  data() {
    return {
      currentStep: 1,
      steps: ["Şəkil", "Video", "Nəticə"],
    };
  },
  methods: {
    changeStep(value) {
      this.currentStep = value;
    },
  },
};
</script>

<style lang="scss" scoped>
.home {
  max-width: 828px;
  height: 100vh;
  margin: 0 auto;
  background-color: #f7f8fa;
}
.main-logo {
  width: 72px;
  height: 72px;
  margin: 32px 0 0 60px;
}
.full-name {
  font-size: 32px;
  text-align: center;
  letter-spacing: -0.827586px;
  color: #151515;
}
.birth-date {
  font-weight: 500;
  font-size: 14px;
  color: rgba(21, 21, 21, 0.8);
  text-align: center;
  margin-top: 16px;
}
.document-steps-container {
  width: 100%;
  height: 120px;
  position: relative;
  .tabSteps {
    background: #ffd166;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    height: 1px;
    transition: 1s ease all;
    position: relative;
    max-width: 334px;
    margin: 0 auto;
    top: 37px;
  }
  .step {
    width: 0px;
    line-height: 75px;
    white-space: nowrap;
  }

  .tabSteps .step {
    position: relative;
    text-align: left;
  }

  .tabSteps .step .dot {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    background: #ffffff;
    border: 1px solid #ffd166;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: 10;
  }

  .tabSteps .step .white-dot {
    display: none;
    background: white;
    width: 20px;
    height: 20px;
    z-index: 11;
  }

  .tabSteps .step .white-check {
    display: none;
    background: #ffd166;
    width: 21px;
    height: 21px;
    z-index: 11;
    box-sizing: border-box;
  }

  .tabSteps .step.active .dot {
    width: 20px;
    height: 20px;
    background: #ffd166;
  }

  .tabSteps .step.completed .white-check {
    display: block;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .tabSteps .step p {
    position: absolute;
    transform: translate(-50%, 0);
    top: -10px;
  }
}

@media only screen and (max-width: 1440px) {
  .full-name {
    font-size: 24px;
    text-align: center;
    letter-spacing: -0.827586px;
    color: #151515;
    margin-top: 0;
  }
  .main-logo {
    margin-top: 24px;
  }
}
@media only screen and (max-width: 500px) {
  .tabSteps {
    max-width: 283px !important;
  }
}
</style>