<template>
  <div class="container">
    <div class="photo-video-container">
      <img src="@/assets/icons/photo_camera.svg" class="main-logo" />
      <video id="webcam" autoplay></video>
      <canvas id="canvas" class="d-none"></canvas>
      <audio id="snapSound" src="@/assets/audio/snap.wav" preload="auto"></audio>
    </div>

    <div class="button-container" v-if="!picIsReady">
      <button @click="takeAPicture">Çək</button>
    </div>
    <div class="button-container" v-if="picIsReady">
      <router-link to="/video"><button>İrəli</button></router-link>
    </div>
  </div>
</template>

<script lang="ts">
import Webcam from "webcam-easy";
let webcam;
export default {
  components: {},
  data() {
    return {
      picIsReady: false,
    };
  },
  mounted() {
    this.$emit('stepChanged', 0)
    const webcamElement = document.getElementById("webcam");
    const canvasElement = document.getElementById("canvas");
    const snapSoundElement = document.getElementById("snapSound");
    webcam = new Webcam(webcamElement, "user", canvasElement, snapSoundElement);

    webcam
      .start()
      .then((result) => {
        console.log("webcam started");
        console.log(result);
      })
      .catch((err) => {
        console.log(err);
      });
  },
  methods: {
    takeAPicture() {
      let picture = webcam.snap();
      console.log(picture);
      this.picIsReady = true;
    },
  },
}
</script>

<style lang="scss" scoped>
.photo-video-container {
  background-color: #ffffff;
  max-width: 320px;
  height: 240px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  img {
    width: 36px;
    height: 36px;
  }

  #webcam,
  #canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  button {
    background: #ffffff;
    box-shadow: 0px 8px 28px -6px rgba(45, 12, 79, 0.12),
      0px 8px 88px -6px rgba(45, 12, 79, 0.08);
    border-radius: 20px;
    width: 229px;
    height: 56px;
    outline: none;
    border: none;
    cursor: pointer;
  }
}
</style>