<template>
  <div class="container">
    <div class="photo-video-container">
      <div class="countdown">
        <progress value="0" max="5" id="progressBar"></progress>
      </div>
      <img src="@/assets/icons/photo_camera.svg" class="main-logo" />
      <video id="webcam" autoplay></video>
      <canvas id="canvas" class="d-none"></canvas>
      <audio
        id="snapSound"
        src="@/assets/audio/snap.wav"
        preload="auto"
      ></audio>
    </div>

    <div class="button-container" v-if="!picIsReady">
      <button v-if="status == 'stoped'" @click="setTimer">Çək</button>
      <button v-if="status == 'recording'">Recording...</button>
      <router-link to="/finish"
        ><button v-if="status == 'finished'">Tamamla</button></router-link
      >
    </div>
  </div>
</template>

<script lang="ts">
import Webcam from "webcam-easy";
let webcam;
export default {
  components: {},
  data() {
    return {
      picIsReady: false,
      status: "stoped",
    };
  },
  mounted() {
    this.$emit("stepChanged", 1);
    const webcamElement = document.getElementById("webcam");
    const canvasElement = document.getElementById("canvas");
    const snapSoundElement = document.getElementById("snapSound");
    webcam = new Webcam(webcamElement, "user", canvasElement, snapSoundElement);

    webcam
      .start()
      .then((result) => {
        console.log("webcam started");
        console.log(result);
      })
      .catch((err) => {
        console.log(err);
      });
  },
  methods: {
    takeAPicture() {
      
    },
    setTimer() {
      this.status = "recording";
      var timeleft = 4;
      var downloadTimer = setInterval(() => {
        console.log(timeleft);

        if (timeleft <= 0) {
          clearInterval(downloadTimer);
          this.status = "finished";
        }
        document.getElementById("progressBar").value = 5 - timeleft;
        timeleft -= 1;
      }, 1000);
    },
  },
};
</script>

<style lang="scss" scoped>
.photo-video-container {
  background-color: #ffffff;
  max-width: 320px;
  height: 240px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  img {
    width: 36px;
    height: 36px;
  }

  #webcam,
  #canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  button {
    background: #ffffff;
    box-shadow: 0px 8px 28px -6px rgba(45, 12, 79, 0.12),
      0px 8px 88px -6px rgba(45, 12, 79, 0.08);
    border-radius: 20px;
    width: 229px;
    height: 56px;
    outline: none;
    border: none;
    cursor: pointer;
  }
}

.countdown {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  #progressBar {
    width: 100%;
  }
}
</style>